input {
  color: orangered;
  width: 100px;
  line-height: 100px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  border: 2px dotted darkred;
  font-size: 2rem;
  outline: none;
}

.caja {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  font-size: 2rem;
  padding: 5px 15px;
  border-radius: 15px;
}
